/* app global css */
.body--light .q-field__control {
    background-color: #ffffff;
}

.q-drawer--left.q-drawer--bordered {
    border-right: none;
}

.body--light .q-field--outlined.q-field--readonly .q-field__control:before {
    border-style: solid;
}
